{% extends "templates/base-1-col.html" %}

{% block content_title %}About{% endblock %}

{% block content_body %}
<p>
  "Clojang" is a set of libraries and tools (including the library
  <code>clojang</code>-proper) that are dedicated to Clojure-BEAM
  interop, where BEAM languages include all those of the Erlang
  ecosystem: Erlang, LFE, Elixir, Joxa, Reia, Luerl, Erlog, etc.
</p>
<blockquote class="blockquote-reverse">
  Clojang ... support[s] production
  deployments of distributed, fault-tolerant, soft real-time
  BEAM/JVM applications, capable of running JVM code ...
</blockquote>
<p>
  In particular, the aim of Clojang is to support production
  deployments of distributed, fault-tolerant, soft real-time
  BEAM/JVM applications, capable of running JVM code in supervision
  trees with appropriate restart and fail-over strategies, hot
  code-loading (live system updates with no downtime), and the like.
</p>
<p>
  From the developer perspective, Clojang wants to make OTP-based
  communications between BEAM languages and the JVM as Clojure-idiomatic
  as possible and as natural to BEAM programmers as can reasonably
  be provided.
</p>
<p>
  For an overview of the three primary ways in which one may develop
  JVM-BEAM interoperable applications, be sure to read the
  <a href="http://clojang.github.io/jiface/current/05-apis.html">API
  comparison docs</a>. To see how LFE and Clojure applications can
  interoperate, you'll want to read the
  <a href="http://clojang.github.io/clojang/current/30-talking-to-servers.html">"Talking
  to Servers" tutorial</a>.
</p>
{% endblock %}
