{% extends "templates/base-1-col.html" %}

{% block content_title %}About{% endblock %}

{% block content_body %}
<p>
  "Clojang" is a set of libraries and tools (including the library
  <code>clojang</code>-proper) that are dedicated to Clojure-BEAM
  interop, where BEAM languages include all those of the Erlang
  ecosystem: Erlang, LFE, Elixir, Joxa, Reia, Luerl, Erlog, etc.
</p>

<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <blockquote class="blockquote-reverse">
      Clojang supports production deployments of distributed,
      fault-tolerant, soft real-time BEAM/JVM applications with
      appropriate restart and fail-over strategies and hot
      code-loading.
    </blockquote>
  </div>
</div>

<p>
  In particular, the aim of Clojang is to support production
  deployments of distributed, fault-tolerant, soft real-time
  BEAM/JVM applications, capable of running JVM code in supervision
  trees with appropriate restart and fail-over strategies, hot
  code-loading (live system updates with no downtime), and the like.
</p>
<p>
  From the developer perspective, Clojang wants to make OTP-based
  communications between BEAM languages and the JVM as Clojure-idiomatic
  as possible and as natural to BEAM programmers as can reasonably
  be provided.
</p>
<p>
  For an overview of the three primary ways in which one may develop
  JVM-BEAM interoperable applications, be sure to read the
  <a href="http://clojang.github.io/jiface/current/05-apis.html">API
  comparison docs</a>. To see how LFE and Clojure applications can
  interoperate, you'll want to read the
  <a href="http://clojang.github.io/clojang/current/30-talking-to-servers.html">"Talking
  to Servers" tutorial</a>.
</p>
<h3>Sample Code</h3>

<p>Here's a Clojure OTP server written using Clojang:</p>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <pre><code class="clj">&#40;defn ping-pong
      &#91;&#93;
      &#40;let &#91;init-state 0&#93;
        &#40;loop &#91;png-count init-state&#93;
          &#40;match &#40;receive&#41;
            &#91;:ping caller&#93;
              &#40;do &#40;! caller :pong&#41;
                &#40;recur &#40;inc png-count&#41;&#41;&#41;
            &#91;:get-ping-count caller&#93;
              &#40;do &#40;! caller png-count&#41;
                &#40;recur png-count&#41;&#41;
            &#91;:stop caller&#93;
              &#40;do &#40;! caller :stopping&#41;
                  :stopped&#41;&#41;&#41;&#41;&#41;
    </code></pre>

  </div>
</div>

<p>And here's LFE talking to Clojure:</p>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <pre><code class="lisp">&#40;clojang-lfe@host&#41;&gt; &#40;! #&#40;default clojang@host&#41; `#&#40;ping ,&#40;self&#41;&#41;&#41;
    #&#40;ping &lt;0.34.0&gt;&#41;
    &#40;clojang-lfe@host&#41;&gt; &#40;! #&#40;default clojang@host&#41; `#&#40;ping ,&#40;self&#41;&#41;&#41;
    #&#40;ping &lt;0.34.0&gt;&#41;
    &#40;clojang-lfe@host&#41;&gt; &#40;! #&#40;default clojang@host&#41; `#&#40;ping ,&#40;self&#41;&#41;&#41;
    #&#40;ping &lt;0.34.0&gt;&#41;
    &#40;clojang-lfe@host&#41;&gt; &#40;c:flush&#41;
    Shell got pong
    Shell got pong
    Shell got pong
    ok
    &#40;clojang-lfe@host&#41;&gt; &#40;! #&#40;default clojang@host&#41; `#&#40;get-ping-count ,&#40;self&#41;&#41;&#41;
    #&#40;get-count &lt;0.34.0&gt;&#41;
    &#40;clojang-lfe@host&#41;&gt; &#40;c:flush&#41;
    Shell got 3
    ok
    </code></pre>

  </div>
</div>

<p>Here's part of an LFE OTP <code>gen&#95;server</code>:</p>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <pre><code class="cl">&#40;defun handle&#95;call
      &#40;&#40;'ping &#95;caller state-data&#41;
        `#&#40;reply pong ,&#40;+ 1 state-data&#41;&#41;&#41;
      &#40;&#40;'ping-count &#95;caller state-data&#41;
        `#&#40;reply ,state-data ,state-data&#41;&#41;
      &#40;&#40;'stop &#95;caller state-data&#41;
        `#&#40;stop shutdown ok ,state-data&#41;&#41;
      &#40;&#40;&#95;message &#95;caller state-data&#41;
        `#&#40;reply ,&#40;unknown-command&#41; ,state-data&#41;&#41;&#41;
    </code></pre>

  </div>
</div>

<p>And here's Clojure talking to LFE:</p>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <pre><code class="clj">clojang.dev=&gt; &#40;rpc/! :clojang-lfe :ping-pong :ping&#41;
    :ok
    clojang.dev=&gt; &#40;rpc/! :clojang-lfe :ping-pong :ping&#41;
    :ok
    clojang.dev=&gt; &#40;rpc/! :clojang-lfe :ping-pong :ping&#41;
    :ok
    clojang.dev=&gt; &#40;rpc/receive :clojang-lfe&#41;
    :pong
    clojang.dev=&gt; &#40;rpc/receive :clojang-lfe&#41;
    :pong
    clojang.dev=&gt; &#40;rpc/receive :clojang-lfe&#41;
    :pong
    clojang.dev=&gt; &#40;rpc/! :clojang-lfe :ping-pong :get-ping-count&#41;
    :ok
    clojang.dev=&gt; &#40;rpc/receive :clojang-lfe&#41;
    3
    </code></pre>

  </div>
</div>


{% endblock %}
