{% extends "templates/structure.html" %}

{% block top_nav_content %}
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img src="/assets/images/clojang-navbar-brand.png" />
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="{% ifequal page-data.active page-data.index %}active{% endifequal %}">
              <a href="http://clojang.lfe.io/">Clojang</a>
            </li>
            <li class="{% ifequal page-data.active page-data.archives %}active{% endifequal %}">
              <a href="/archives/">Archives</a>
            </li>
            <li class="{% ifequal page-data.active page-data.categories %}active{% endifequal %}">
              <a href="/categories/">Categories</a>
            </li>
            <li class="{% ifequal page-data.active page-data.tags %}active{% endifequal %}">
              <a href="/tags/">Tags</a>
            </li>
            <li class="{% ifequal page-data.active page-data.authors %}active{% endifequal %}">
              <a href="/authors/">Authors</a>
            </li>
            <li class="{% ifequal page-data.active page-data.community %}active{% endifequal %}">
              <a href="/community.html">Community</a>
            </li>
            <li class="{% ifequal page-data.active page-data.about %}active{% endifequal %}">
              <a href="/about.html">About</a>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Docs <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="http://clojang.github.io/jiface/current/05-apis.html">API Comparison</a></li>
                <li><a href="http://clojang.github.io/clojang/current/index.html">clojang</a></li>
                <li><a href="http://clojang.github.io/jiface/current/index.html">jiface</a></li>
                <li><a href="http://clojang.github.io/jiface/current/erlang/jinterface_users_guide.html">JInterface Erlang Docs</a></li>
                <li><a href="http://clojang.github.io/jiface/current/erlang/java/">Jinterface API Reference</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-github fa-lg"></i> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="https://github.com/clojang/clojang">clojang</a></li>
                <li><a href="https://github.com/clojang/jiface">jiface</a></li>
                <li><a href="https://github.com/clojang/agent">agent</a></li>
                <li><a href="https://github.com/clojang/jinterface-builder">jinterface-builder</a></li>
                <li><a href="https://github.com/clojang">The Clojang Collection</a></li>
                <li><a href="https://travis-ci.org/clojang">Travis CI</a></li>
              </ul>
            </li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
{% endblock %}

{% block footer_content %}
        <div class="row">
          <div class="col-lg-12 center-block text-center footer-buffer-top">
            &nbsp;
          </div>
        </div>

        <div class="row">
          <div class="col-lg-5 text-center">
            <ul class="list-inline">
              <li><a href="/archives/index.html">Archives</a></li>
              <li><a href="/categories/index.html">Categories</a></li>
              <li><a href="/tags/index.html">Tags</a></li>
              <li><a href="/authors/index.html">Authors</a></li>
              <li><a href="/about.html">About</a></li>
            </ul>
          </div>
          <div class="col-lg-2 text-center">
            <span>
              <a href="http://lfe.io/">
                <img src="/assets/images/clojang-white-small.png"/></a>
            </span>
          </div>
          <div class="col-lg-5 text-center">
            <ul class="list-inline">
              <li><a href="https://clojure.org/">Clojure</a></li>
              <li><a href="http://www.erlang.org/">Erlang</a></li>
              <li><a href="http://github.com/rvirding/lfe">LFE</a>/<a href="http://github.com/lfex/">X</a></li>
              <li><a href="http://elixir-lang.org/">Elixir</a></li>
              <li><a href="https://github.com/clojang">Clojang</a></li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 center-block text-center footer-buffer-bottom">
            &nbsp;
          </div>
        </div>

        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8 center-block text-center">
            <div class="copyright">
              <p>
                Design &copy; 2013 Thomas Park | Design and Content &copy; 2017 Clojang
              </p>
            </div>
            <div class="col-lg-2"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 center-block text-center footer-buffer-bottom">
            &nbsp;
          </div>
        </div>
{% endblock %}
