{% extends "templates/structure.html" %}

{% block top_nav_content %}
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img src="/images/clojang-navbar-brand.png" />
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="http://clojang.lfe.io/">Clojang</a></li>

            <li><a href="#">Archives</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">Tags</a></li>
            <li><a href="#">Authors</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Docs <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">API Comparison</a></li>
                <li><a href="#">clojang</a></li>
                <li><a href="#">jiface</a></li>
                <li><a href="#">agent</a></li>
                <li><a href="#">jinterface-builder</a></li>
                <li><a href="#">JInterface Erlang Docs</a></li>
                <li><a href="#">Jinterface API Reference</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-github fa-lg"></i> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">clojang</a></li>
                <li><a href="#">jiface</a></li>
                <li><a href="#">agent</a></li>
                <li><a href="#">jinterface-builder</a></li>
                <li><a href="#">Clojang org</a></li>
              </ul>
            </li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
{% endblock %}

{% block footer_content %}
        <div class="row">
          <div class="col-lg-12 center-block text-center footer-buffer-top">
            &nbsp;
          </div>
        </div>

        <div class="row">
          <div class="col-lg-5 text-center">
            <ul class="list-inline">
              <li><a href="#">Archives</a></li>
              <li><a href="#">Categories</a></li>
              <li><a href="#">Tags</a></li>
              <li><a href="#">Authors</a></li>
              <li><a href="#">About</a></li>
            </ul>
          </div>
          <div class="col-lg-2 text-center">
            <span>
              <a href="http://lfe.io/">
                <img src="/images/clojang-white-small.png"/></a>
            </span>
          </div>
          <div class="col-lg-5 text-center">
            <ul class="list-inline">
              <li><a href="#">Clojure</a></li>
              <li><a href="#">Erlang</a></li>
              <li><a href="#">LFE</a>/<a href="#">X</a></li>
              <li><a href="#">Elixir</a></li>
              <li><a href="#">Clojang</a></li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 center-block text-center footer-buffer-bottom">
            &nbsp;
          </div>
        </div>

        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8 center-block text-center">
            <div class="copyright">
              <p>
                Design &copy; 2013 Thomas Park | Design and Content &copy; 2017 Clojang
              </p>
            </div>
            <div class="col-lg-2"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 center-block text-center footer-buffer-bottom">
            &nbsp;
          </div>
        </div>
{% endblock %}
