{% extends "templates/base.html" %}

{% block main_content %}
    <div class="container">
      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Community</h1>
            <p class="lead">The following Clojang community resources are available:</p>
            <ul>
              <li>
                <a href="http://clojang.slack.com/">Slack Channel</a>
                (if you'd like access,
                <a href="https://github.com/clojang/slack/issues/new">open a ticket</a>
                or send a direct message on
                <a href="http://twitter.com/clojang">Twitter</a>)
              </li>
              <li><a href="">Mail list</a></li>
              <li><a href="http://twitter.com/clojang">Twitter</a></li>
              <li><a href="http://clojang.lfe.io/">Blog</a> (You're <em>riding</em> it, dude!)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
