{% extends "templates/base-1-col.html" %}

{% block content_title %}Community{% endblock %}

{% block content_body %}
  <p class="lead">The following Clojang community resources are available:</p>
  <ul>
    <li>
      <a href="http://clojang.slack.com/">Slack Channel</a>
      (if you'd like access,
      <a href="https://github.com/clojang/slack/issues/new">open a ticket</a>
      or send a direct message on
      <a href="http://twitter.com/clojang">Twitter</a>)
    </li>
    <li><a href="https://groups.google.com/forum/#!forum/clojang">Mail list</a></li>
    <li><a href="http://twitter.com/clojang">Twitter</a></li>
    <li><a href="http://clojang.lfe.io/">Blog</a> (You're <em>riding</em> it, dude!)</li>
  </ul>
{% endblock %}
