{% extends "templates/base.html" %}

{% block main_content %}
    <div class="container">
      <div class="page-header" id="banner">

        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Temporary Landing Page</h1>
            <p class="lead">The Clojang Blog infrastructure is currently under heavy
             development. Until it is ready, the following content is available:
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="list-group table-of-contents">
              <a class="list-group-item active" href="/design/index.html">GENERAL INFO</a>
              <a class="list-group-item" href="/about.html">About Clojang</a>
              <a class="list-group-item" href="/community.html">Community Links</a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="list-group table-of-contents">
              <a class="list-group-item active" href="/design/index.html">DESIGN</a>
              <a class="list-group-item" href="/design/bootstrap-theme.html">A
                demo of the Bootstrap theme</a>
              <a class="list-group-item" href="/design/example-blog.html">An
                example blog page</a>
            </div>
          </div>
        </div>

      </div>
    </div>
{% endblock %}
