/*
 * Globals
 */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  padding-top: 0.5em;
  color: #476ebb;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: bold;
}
/*
 * Masthead for nav
 */
.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
}
/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  text-decoration: none;
}
/* Active state gets a caret at the bottom */
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}
/*
 * Blog name and description
 */
.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
}
/*
 * Main column and sidebar layout
 */
.blog-main {
  font-size: 18px;
  line-height: 1.5;
}
/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 60px;
}
.blog-post .page-header {
  border-bottom: none;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-subtitle {
  font-size: 110%;
  font-style: italic;
}
.blog-post-meta {
  margin-bottom: 10px;
}
.blog-post-meta > .date,
.blog-post-meta > .author {
  word-spacing: 0.3em;
  font-style: italic;
  font-size: 110%;
}
.blog-post-meta .lead {
  font-size: 140%;
}
.blog-post .well {
  background-color: #3b4c70;
}
